html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
}

.wrapper{
    width: 400px;
    background-color:rgb(218, 216, 216);
    color: #0049B7;  
}

.calc-button-row{ 
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 0.5%;
}

.screen{
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    padding: 20px 5px;
}

.calc-button{
    background-color:#0049B7;
    color: #FFFFFF;
    border: none;
    font-size: 40px;
    height: 100px;
    flex-basis: 24.5%;
}

.calc-button:hover{
    background-color: #0049b7ce;
}

.calc-button:active{
    background-color: #053d91;
}

.double{
    flex-basis: 49.7%;
}

.triple{
    flex-basis: 74.8%;
}

.calc-button:last-child{
    background-color: rgb(172, 11, 11);
}

.calc-button:last-child:hover{
    background-color: rgba(172, 11, 11, 0.87);
}

.calc-button:last-child:active{
    background-color: rgb(155, 13, 13);;
}

button:focus{
    outline: none;
}

.calc-button:last-child:focus{
    outline: none;
}