html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
}

.wrapper{
    width: 400px;
    background-color: #FFFFFF;
    color: #1B2036;
    border: 3px solid red;
}

.calc-button-row{
    border: 3px solid blue;
}

.screen{
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    padding: 20px 5px;
}